body {
    padding-top: 60px;
}
.webforms.showFx {
    border: 2px solid  #419641;
}
.webformsLegend {
    background-color: #419641;
}
.mvc.showFx {
    border: 2px solid #f0ad4e;
}
.mvcLegend {
    background-color: #f0ad4e;
}
.nav-pills.green > li.active > a {
    background-color: #419641;
}
.nav-pills.orange > li.active > a {
    background-color: #f0ad4e;
}
