@model DateTime?
<div class="input-group date">
    @Html.TextBox("", @Model.GetValueOrDefault(DateTime.Now), ViewData.ModelMetadata.EditFormatString, new {@class="form-control text-box single-line", data_provide = "datepicker"})
    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
</div>