</div>
</div>
</div>
<footer class="container mvc">
    <hr />
    <div>
        @Html.CheckBox("showFramework") @Html.Label("showFramework", "Show which parts belong to which framework.")
    </div>
</footer>
@Scripts.Render("~/js")