@model ExitStrategy.TestWebsite.Models.Person

@{
    var currentAction = ViewContext.RouteData.GetRequiredString("action").Capitalize();
    ViewBag.Title = "Mvc Modelbinding " + currentAction;
    Layout = "~/Views/Shared/_layout.cshtml";
}
<div class="mvc">
    <h1>Mvc Modelbinding Editor</h1>
    <p>
        This page has a Model that is bound to a Razor EditorTemplate using @@Html.EditorForModel.
        Both the First Name and Last Name fields are required, so you can see the validation in action when you press Edit.
    </p>
@using (Html.BeginForm(currentAction, "ModelBinding", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
    {
        <div class="panel panel-danger">
            <div class="panel-heading">Your input is not valid:</div>
            <div class="panel-body">
                @Html.ValidationSummary()
            </div>
        </div>
    }
    @Html.EditorForModel(new {htmlAttributes = new {@class = "form-control"},})
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-primary" value="@(currentAction)"/>
            @Html.ActionLink("Cancel", "index", null, new {@class = "btn btn-link"})
            <div class="checkbox-inline">
                 <label for="disableValidation">
                     <input type="checkbox" id="disableValidation" /> Disable client-side validation
                 </label>
             </div>
        </div>
    </div>
}
</div>