@using System.Web.Mvc.Html
@model IEnumerable<TestWebsite.Models.PersonListItem>

@{
    Layout = "~/Views/Shared/_layout.cshtml";
    ViewBag.Title = "Mvc Modelbinding";
}
<div class="mvc">
<h1>Mvc Modelbinding list</h1>
    <p>
        How Modelbinding works
    </p>
    @Html.DisplayFor(m => m, "Table")
</div>