@using System.Web.Mvc.Html
@model IEnumerable<ExitStrategy.TestWebsite.Models.PersonListItem>

@{
    Layout = "~/Views/Shared/_layout.cshtml";
    ViewBag.Title = "Mvc Modelbinding";
    ViewBag.EmptyDataText = "Nobody in the collection.";
}
<div class="mvc">
    <h1>Mvc Modelbinding list</h1>
    <p>
        This page has a Model that is bound to a Razor template using @@Html.DisplayForModel.
    </p>
    @Html.DisplayForModel("Table")
</div>