@using System.Web.Mvc.Html
@{
    Layout = "~/Views/Shared/_layout.cshtml";
    ViewBag.Title = "This is an MVC Page";
}
<div class="mvc">
<h1>This is a Razor Page</h1>
<p>
    This is a simple Razor view with a layout rendered from an Mvc controller. However, the layout contains two partial views that are shared with the
    Webforms master page. This way, every page can have the same layout with minimal duplication.
</p>
<p>
    For a more complicated example, look at <a href="@Url.Action("index", "ModelBinding")">Modelbinding</a>.
</p>
</div>