@using System.Web.Mvc.Html
@model TestWebsite.Models.ViewModel

@{
    Layout = "~/Views/Shared/_layout.cshtml";
    ViewBag.Title = "This is an MVC Page";
}

<h2>This is a Razor Page</h2>
@Html.Partial("ViewModel", Model)