@model Object
@if (ViewData.TemplateInfo.TemplateDepth > 1)
{   
    @ViewData.ModelMetadata.SimpleDisplayText
}
else
{
    foreach (var prop in ViewData.ModelMetadata.Properties.Where(pm => pm.ShowForDisplay && !ViewData.TemplateInfo.Visited(pm)))
    {
        <div class="form-group">
            @Html.Label(prop.PropertyName, new { @class="col-sm-2 control-label" })
            <div class="col-sm-10">
                <p class="form-control-static">@Html.Display(prop.PropertyName)</p>
            </div>
        </div>
    }
}